body{
  background-image: url("backround.jpg");
  background-size: 100%;
}

.topBar {
  background-color: #b84dff;
  width: 1100px;
  height: 80px;
  margin: 0 auto;
  margin-top: 4%;
}
.login {
  position: absolute;
  right: 10%;
  top: 12%;
  width: 170px;
  font-size: 12px;
  height: 30px;
}
.title {
	color: white;
	font-style: italic;
	position:relative; 
  top: 20px; 
  left: 15px;
}

.text{
  color: white;
	font-style: italic;
	position:relative; 
  top: 15px; 
  left: 15px;
}

.meni{
  background-color: #b84dff;
  margin: 0 auto;
  width: 1100px;
  height: 30px;
  position: relative;
  text-align: center;
  font-size: 20px;
 } 

 .meni li{
  display: inline-block;
  margin-right: 5%;
  align-items: center;
  position: relative;
  color: white;
 } 