@media all and (min-width: 480px) {
  .TableView {
    padding: 60px 0;
    background-color: #b84dff;
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    margin-top: 6%;
  }

  .AddNews form {
    margin: 0 auto;
    max-width: 320px;
  }

  .newsTitle{
    margin-left: 15%;
    margin-top: 13%;
  }

  .label{
    margin-right: 5%;
  }
  .label2{
    margin-right: 2%;
  }

  .title{
    margin-left: 10%;
    color: white;
    font-style: italic;
    font-size: 22px;
  }

  .text{
    color: white;
  }

  body{
    background: url("backround.jpg");
    background-size: 100%;
  }
}